:root{
    --baseColor:#4DB6AC;
    --primaryColor:#FAFAFA;
    --notSelected:#C8DAD3;
    --selected:#93B5B3;
    --textcolor:black;
}
.screen1{
    height:100vh;
    /* width:100wh; */
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--baseColor);
}
.title{
    font-size:4em;
    justify-content: center;
    align-items: center;
    display: flex;
    color:var(--primaryColor);
    /* margin-bottom: 10%; */
    /* margin: 10%; */
    /* position: relative; */
}
.startButton{
    /* margin-top: 10%; */
    /* margin-left: 10%; */
    height:70px;
    width:200px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:2em;
    color:var(--baseColor);
    border-radius: 40px;
    background:var(--primaryColor);
    /* position: relative; */

}
/* .startButton:hover{
    height:87.5px;
    width:220px;
    border-radius: 50px;
} */
.screen2{
    height:100vh;
    /* width:100wh; */
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--primaryColor);
}
.questionNumber{
    font-size: 3em;
    color: var(--textcolor);
}
.question{
    color: var(--textcolor);
}
/* .prev{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    border-radius: 30px;
    background:var(--primaryColor);
}
.next{
    height:40px;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
} */
.submit{
    height:40px;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
.option1{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
.option2{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
.option3{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
.option4{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
