:root{
    --baseColor: #FAF9F7;
    --primaryColor:#113f67;
    --primaryColor1:#1A237E;
    --secondaryColor1:#C8DAD3;
    --secondaryColor2:#93B5B3;
    font-size: 1em;
}
.full-screen{
    height: 100vh;
    align-items: center;
    background-color: var(--baseColor);
    justify-content: center;
    display: flex;
}
.start-btn{
     height: 40px;
    width:150px;
    background-color: var(--primaryColor);
    border-radius: 20px;
    color: var(--baseColor);
}
.heading-left{
    height: 100px;
    background-color: var(--baseColor);
}
.heading1{
    margin-top: 40px;
    color:var(--baseColor);
}
.next-btn,.submit-btn{
    border-radius: 20px;
    width: 80px;
    background-color: var(--primaryColor);
    color: var(--baseColor);
}
.question-no{
    color: var(--primaryColor);
    font-weight: bold;
}