:root{
    --baseColor:#4DB6AC;
    --primaryColor:#FAFAFA;
    --notSelected:#C8DAD3;
    --selected:#93B5B3;
    --textcolor:black;
}
.container-fluid{
    height:100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--baseColor);
}
.title{
    font-size:4em;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    color:var(--primaryColor);
}
.logo{
    justify-content: center;
    align-items: center;
    /* display: flex; */
}
.startButton{
    height:70px;
    width:200px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    font-family:sans-serif;
    font-style:bold;
    font-size:2em;
    color:var(--baseColor);
    border-radius: 40px;
    background:#FAFAFA;

}
/* .startButton:hover{
    height:87.5px;
    width:220px;
    border-radius: 50px;
} */
/* .screen2{
    height:100vh;
    width:100wh;
    justify-content: center;
    align-items: center;
    display: flex;
    background: var(--primaryColor);
} */
.questionNumber{
    font-size: 3em;
    color: var(--textcolor);
    float: left;
}
#question{
    color: var(--textcolor);
    font-size: 3em;
}
/* .prev{
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    border-radius: 30px;
    background:var(--primaryColor);
}
.next{
    height:40px;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
} */
#prev{
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
    text-decoration: none;
  /* display: inline-block; */
  justify-content: center;
    align-items: center;
    display: flex;
  /* padding: 8px 16px; */
}
#next{
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    text-decoration: none;
  /* display: inline-block; */
  justify-content: center;
    align-items: center;
    display: flex;
  /* padding: 8px 16px; */
}
.submit{
    height:40px;
    width:100px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:var(--baseColor);
    border-radius: 30px;
    background:var(--primaryColor);
}
.option1{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:black;
    border-radius: 30px;
    background:#4DB6AC;
}
.option2{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:black;
    border-radius: 30px;
    background:#4DB6AC;
}
.option3{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:black;
    border-radius: 30px;
    background:#4DB6AC;
}
.option4{
    height:50px;
    width:150px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-family:sans-serif;
    font-style:bold;
    font-size:1em;
    color:black;
    border-radius: 30px;
    background:#4DB6AC;
}
.yourScoreIs{
    font-size:4em;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    color:var(--primaryColor);
}
.score{
    font-size:4em;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    color:var(--primaryColor);
}
.retryButton{
    height:70px;
    width:200px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    font-family:sans-serif;
    font-style:bold;
    font-size:2em;
    color:var(--baseColor);
    border-radius: 40px;
    background:#FAFAFA;
}